section {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #adb5bd;
}
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 7px;
}

nav {
    border-bottom: 2px solid #dbdcdc;
}

.body-container .row {
    margin: 1.8rem;
}

input, input:focus {
    background-color: #f8f9fa;
    border-radius: 0 !important;
    width: 20rem;
}

.btn {
    width: 10rem;
    border-radius: 40px;
}

.btn h5 {
    width: 100%;
    height: 100%;
    display: inline;
}

.error {
    color: red;
}

a {
    color: #8c847e;
    font-size: 1.25rem;
}
